.attachment_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  width: 100%;
}

.attachment_data {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.attachment_title {
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.attachment_description {
  font-size: 0.8rem;
}

.attachment_button {
  width: 40px;
  height: 40px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--primary-color);
}

.attachment_button svg {
  fill: var(--primary-color);
  font-size: 1.2rem;
}