.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 5px;

  width: 100%;

  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.title h1 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  color: #111827;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;

  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  color: #9b9595;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;

  cursor: pointer;
}

.pfp {
  width: 24px;
  height: 24px;

  border-radius: 100%;

  object-fit: cover;

  background-color: black;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 43px;
  height: 43px;

  border-radius: 100%;
  border: 1.5px solid #54c055;

  cursor: pointer;
}

.answer {
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;

  color: #1e9e20;

  cursor: pointer;
}
