.waves {
  position: relative;
  margin: -5px 0;
  width: 101%;
  z-index: 40;
}

.container {
  position: relative;
  background-color: #069507;
  padding: 20px 40px;
  z-index: 40;
  width: 100%;
}

.col_1,
.col_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.col_2_links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.internal_link {
  color: var(--contrast-text-color);
}

.logo {
  width: 280px;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
}

.col_2 p {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  color: #88e189;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}

.waves_mb {
  display: none;
}

@media (max-width: 672px) {
  .email {
    display: none;
  }

  .col_1,
  .col_2 {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .col_2_links {
    align-items: center;
  }

  .waves {
    display: none;
  }

  .waves_mb {
    display: block;
    margin: -1px 0;
    width: 101%;
  }

  .icons {
    gap: 30px;
    margin-top: 20px;
  }
}
