.container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .form {
    width: 100%;
    max-width: 400px;
  }
}

@media screen and (min-width: 1025px) {
  .container {
  }
}