.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container p {
  color: var(--secondary-text-color);
  font-size: 0.8rem;
}

.select {
  min-width: 165px;
  min-height: 35px;
  border-radius: 20px;
  text-align: center;
  color: white;
  background-color: var(--primary-color);
  border: 0;
  outline: none;
  cursor: pointer;
}

.noSelection {
  color: var(--secondary-contrast-text-color);
  background-color: var(--border-color);
}

@media (max-width: 910px) {
  .container p {
    display: none;
  }
}
