.content_container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 70px);
  background-color: var(--general-background-color);
  padding: 0 20px;
}

.events_options {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.tabs {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 1.2rem;
}

.tab {
  position: relative;
  cursor: pointer;
}

.tab p {
  font-size: 0.95rem;
  color: var(--inactive-color);
  text-transform: capitalize;
}

.tab.active p {
  color: var(--primary-text-color);
  font-weight: 500;
}

.tab.active p::after {
  content: '';
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  position: absolute;
  left: 45%;
  bottom: -12.5px;
  border-radius: 5px;
}

.events_container {
  flex: 1;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 910px) {
  .events_options {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 780px) {
  .events_container {
    gap: 20px;
  }
}
