.container {
  margin-bottom: 10rem;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 1332px;
    padding: 0 .8rem;
  }
}

@media screen and (min-width: 1025px) {
  .container {
    height: 100%;
  }
}