.container{
  width:100%;
  max-width:var(--max-width);
}

.card_container{
  width:100%;
  max-width:var(--max-width);
  display:flex;
  flex-direction:row;
  overflow-x:auto;
}

.card_container::-webkit-scrollbar{
  display:none;
}