.button {
  margin-top: 10px;
  width: 100%;
  height: 56px;
  font-size: 16px;
  line-height: 24px;
  color: white;

  border-radius: 8px;
  border: 0;
  background-color: #54c055;
  cursor: pointer;
}
