.container{
  width:100%;
  background-image:url('../../../../../../public/images/png/image-background.png');
  background-repeat:no-repeat;
  background-size:contain;
  margin:0 0 2.5rem 0;
  display:flex;
}

@media screen and (max-width:768px){
  .container{
    height:100%;
    align-items:center;
    justify-content:center;
    background-position:left;
    background-size:50% 100%;
  }

  .arrow{
    display:none;
  }
}

@media screen and (min-width:1025px){
  .container{
    align-items:center;
    height:100vh;
    justify-content:center;
  }
}