.img {
  width: 100%;
}

.img img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.button {
  margin-top: 10px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 20px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  background-color: white;
  cursor: pointer;
}
