.container {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
  }
}

@media screen and (min-width: 1025px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--max-width);
  }
}