.buttons {
  display: flex;
  justify-content: flex-end;
}

.custom_quill {
  height: 230px;
  margin-bottom: 40px;
}

.image_upload {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.image_container {
  width: 100%;
  height: 200px;
  background-color: #161616;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.delete_backdrop {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}
