.announ_form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.pfp {
  font-family: var(--secondary-font);
  font-size: 20px;
  text-align: center;
  min-width: 35px;
  min-height: 35px;
  max-width: 35px;
  max-height: 35px;
  border-radius: 8px;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.input_bar {
  font-family: var(--secondary-font);
  font-size: 15px;
  width: 100%;
  height: 40px;
  padding: 10px 10px;
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 100px;
  outline: none;
}

.input_bar::placeholder {
  color: #9b9595;
}

.button {
  font-size: 15px;
  padding: 0.55rem 0.75rem;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #54c055;
  cursor: pointer;
}

@media (max-width: 648px) {
  .announ_form {
    flex-direction: column;
  }

  .text_container {
    width: 100%;
  }

  .bar {
    margin-top: 20px;
    flex-direction: column;
    width: 100%;
  }

  .input_bar textarea {
    width: 100%;
  }

  .button {
    width: 100%;
  }
}
