.container{
  display:flex;
  flex-direction:row;
  align-items:flex-start;
  justify-content:center;
}

.learMore{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  justify-content:flex-start;
}

.text_container{
  height:100%;
  width:100%;
}

.text_container p{
  font-weight:500;
  text-align:left;
  color:#000000;
}

.video_container{
  display:flex;
  width:100%;
  align-items:center;
  justify-content:center;
}

@media screen and (max-width:768px){
  .container{
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:var(--mobile-max-width);
  }

  .learMore{
    max-width:390px;
    height:293px;
    margin:0 0 2rem 0
  }

  .text_container{
    max-height:116px;
    max-width:321px;
  }

  .text_container p{
    font-size:14px;
    line-height:20px;
  }
}

@media screen and (min-width:1025px){
  .container{
    max-width:var(--max-width);
  }

  .learMore{
    max-width:30.8rem;
    max-height:293px;
    margin:0 0 4rem 0
  }

  .text_container{
    max-height:145px;
    max-width:402px;
  }

  .text_container p{
    font-size:18px;
    line-height:26px;
  }
}