.input_container p{
  color:white
}

@media screen and (max-width:768px){
  .container{
    height:398px;
    width:100%;
    max-width:400px;
    border-radius:16px;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:var(--primary-color);

  }

  .image{
    display:none;
  }

  .form{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:400px;
    padding:0 1rem;
  }

  .inputs{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    width:100%;
  }

  .input_container{
    margin-bottom:1rem;
    width:min(100%, 340px);

  }

  .label{
    font-size:0.87rem;
    font-weight:600;
    line-height:21px;
    text-align:left;
    color:var(--contrast-text-color)
  }

  .text_area{
    height:50px;
    border-radius:10px;
    padding:0.3rem 0.45rem;
  }

  .button{
    display:flex;
    align-items:center;
    justify-content:center;
    height:25px;
    width:105px;
    border-radius:8px;
    padding:0.125rem;
    border:none;
    color:var(--primary-color);
    background-color:var(--contrast-text-color);
  }
}

@media screen and (min-width:1025px){
  .container{
    height:710px;
    width:1123px;
    border-radius:16px;
    display:flex;
    flex-direction:row;
    background-color:var(--primary-color);
  }

  .image{
    height:709px;
    width:min(100%, 545px);
    border-radius:1rem 0 0 1rem;
  }

  .form{
    display:flex;
    width:min(100%, 422px);
    border-radius:0 1rem 1rem 0;
    align-items:flex-start;
    justify-content:center;
    flex-direction:column;
    margin:2rem
  }

  .input_container{
    margin-bottom:28px;
    width:min(100%, 422px);
  }

  .input_number{
    height:50px;
    width:422px;
    border-radius:100px;
    align-items:center;
    justify-content:center;
    align-self:center;
    margin:1rem
  }

  .text_area{
    height:109px;
    width:422px;
    border-radius:24px;
    padding:10px 25px;
  }

  .button{
    height:56px;
    width:168px;
    border-radius:8px;
    padding:16px 12px 16px 18px;
    border:none;
    color:var(--primary-color);
    background-color:var(--contrast-text-color);
  }
}