.container{
  width:100%;
  max-width:var(--max-width);
  height:100%;
  padding:10rem;
  margin:2.5rem 0
}

.videos_container{
  margin-top:7rem;
  display:flex;
  flex-direction:row;
  width:100%;
  max-width:var(--max-width);
  overflow:auto;
  justify-content:space-between;
  gap:1rem;
}

.videos_container::-webkit-scrollbar{
  display:none;
}