.container{
  height:100%;
  width:100%;
  max-width:var(--max-width);
}

.title{
  height:7.6rem;
  width:min(100%, 31.2rem);
}

.title h2{
  font-size:3rem;
  font-weight:700;
  line-height:3.6rem;
  letter-spacing:-0.025em;
  text-align:left;
  color:#374151;
}

@media screen and (max-width:768px){
  .container{
    height:100%;
    max-width:400px;
    margin:0 0 5rem 0;
  }

  .title{
    height:7.6rem;
    width:min(100%, 31.2rem);
  }

  .title h2{
    font-size:3rem;
    font-weight:700;
    line-height:3.6rem;
    letter-spacing:-0.025em;
    text-align:left;
    color:#374151;
  }
}

@media screen and (min-width:1025px){

}