.info {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
  margin-right: 3rem;
}

.info p {
  font-weight: 500;
  font-size: 24px;
  line-height: 35px;
}

.main {
  display: flex;
  width: 100%;
  margin: 5rem 0;
}

.container_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  margin: 1rem 0;
  align-items: center;
}

.list_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.list p {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
}

.img {
  margin-top: 4px;
}

@media screen and (max-width: 980px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
  }

  .image {
    display: none;
  }

  .info {
    flex-direction: column;
  }

  .info p {
    font-size: 18px;
    line-height: 24px;
  }

  .container_item {
    align-items: flex-start;
  }
}
