.company_bio_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.thumbnail_container {
  flex: 1;
  max-width: 30%;
  height: 100%;
  max-height: 170px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.thumbnail_container:hover img {
  opacity: 0.75;
  cursor: pointer;
}

.thumbnail_container img {
  width: 100%;
  height: auto;
}

.play_icon_container {
  width: 60px;
  height: 60px;
  background-color: #3b3b3bd8;
  border-radius: 50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.play_icon_container svg {
  font-size: 1.5rem;
  fill: var(--primary-color);
}

.company_bio_container p {
  flex: 1;
  font-size: 0.9rem;
  line-height: 1.78rem;
  color: var(--secondary-text-color);
}

.organization_buttons {
  display: none;
}

.organization_buttons button {
  font-size: 0.4rem;
}

.description_empty {
  background-color: rgb(193 255 193 / 8%);
  flex: 1;
  padding: 2rem 0.6rem 0.6rem 0.6rem;
  border-radius: 5px;
  position: relative;
  border: 1px solid var(--primary-color);
}

.description_empty p {
  color: var(--primary-text-color);
}

.description_empty .floating_text {
  position: absolute;
  right: 0.5rem;
  top: 0rem;
  font-size: 0.7rem;
  color: var(--primary-color);
}

.description_empty button {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

@media (max-width: 787px) {
  .company_bio_container {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .thumbnail_container {
    flex: auto;
    max-width: 100%;
  }

  .thumbnail_container img {
    height: auto;
    object-fit: cover;
  }

  .organization_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.5rem;
  }

  .organization_buttons button {
    flex: 1;
  }

  .organization_buttons button>span {
    font-size: 0.85rem;
  }
}