.video_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ace24b 0deg,
    #1bca52 105deg,
    #d9eeb2 187.5deg,
    #ace24b 360deg
  );
}

.play_video {
  cursor: pointer;
}

@media (max-width: 604px) {
  .video_container {
    height: 400px;
  }
}
